@{
    Layout = null;
}

@if (Session["UserName"] != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right form-inline my-2 my-lg-0" }))
    {
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Welcome @Session["UserName"]!</a></li>
       <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

    </ul>
    }
 }
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}